USE [lbd8]
GO
/****** Object:  Table [dbo].[Table_2]    Script Date: 07/09/2019 10:14:50 a.m. ******/
DROP TABLE [dbo].[Table_2]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 07/09/2019 10:14:50 a.m. ******/
DROP TABLE [dbo].[clientes]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 07/09/2019 10:14:50 a.m. ******/
DROP TABLE [dbo].[cliente]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 07/09/2019 10:14:50 a.m. ******/
DROP TABLE [dbo].[Alumnos]
GO
USE [master]
GO
/****** Object:  Database [lbd8]    Script Date: 07/09/2019 10:14:50 a.m. ******/
DROP DATABASE [lbd8]
GO
/****** Object:  Database [lbd8]    Script Date: 07/09/2019 10:14:50 a.m. ******/
CREATE DATABASE [lbd8]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lbd8', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\lbd8.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'lbd8_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\lbd8_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lbd8].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lbd8]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 07/09/2019 10:14:50 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id] [int] NULL,
	[nombre] [char](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 07/09/2019 10:14:50 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[NumeroCliente] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[PrimerApellido] [varchar](255) NOT NULL,
	[SegundoApellido] [varchar](255) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[PrimerApellido])+' ')+[SegundoApellido]),
PRIMARY KEY CLUSTERED 
(
	[NumeroCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 07/09/2019 10:14:50 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clientes](
	[NumeroCliente] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table_2]    Script Date: 07/09/2019 10:14:50 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_2](
	[Ventas] [nvarchar](50) NULL
) ON [PRIMARY]

GO
USE [master]
GO
